{% extends "layout.html" %}

{% block page %}

<h1 class="centertxt">Why hello there...</h1>
<p>My name is Noor and obviously you have come here to learn more about me.
  Let's see, I am a fountain pen enthusiast and own 2 lovely vintage pens. I also
love tea and have an entire drawer in my apartment dedicated to tea particularly from Whittards
and Bird & Blend. I also crochet in an attempt to keep warm in this cold country, I do miss warmth.</p>
<p>I also have been skydiving 3 times, 2 of those jumps were solo and I would really like to get my
skydiving license if UK weather ever permitted me to jump or if I could afford to go somewhere
with better weather like Spain. Of course this is all assuming COVID went away so we could actually
go do things again.</p>
<p>Speaking of doing things again I would really like to go back to archery practice someday. I was
  a member of the university archery club and I even got first place in a competition once, of course
  that was becuase I was the only person in my category and the other universities with archers in
  my category had their bus break down. But hey I still won.</p>
<p>Did I mention I am a university student. Current postgrad studying Computing and previous undergrad
  studying Physics. Now you may be wondering why I chose these subjects...well it is because I like
  to suffer.&#x1F602 Okay that was a joke, I loved studying physics actually but found out during my undergrad
  that coding is also pretty cool and so I went you know what lets code for my masters so I can have
  all the cool skills. Maybe one day I can make a physics student's life easier by making them a free
  software for data analysis and graphing.</p>
<p>Honestly, with my current degree I am also really enjoying it. Programming is really awesome actually.
I kind of wish that I had the opportunity to learn about other cool topics like AI & machine learning,
cyber security and game developement but of course I am studying a conversion course so will just have
to work on those on my own time.</p>
<p>Anyways I hope you enjoyed getting to know a little more about me, maybe check out some of my less technical
  posts to learn more.&#x1F604</p>
  <p class="italic centertxt">Feel free to email me at ZaidiNZ@cardiff.ac.uk or connect on
     <a href="https://uk.linkedin.com/in/noorzaidi" target="_blank">LinkedIn</a>.</p>

{% endblock page %}
